.background{
  display: inline-block;
  position: fixed;
  z-index: -100;
  height: 100vh;
  width: 100vw;
}

.background__image{
object-fit: cover;

}

.background__filter1{
  z-index: -99;
  background-color: #000000C0;
}

.background__filter1{
  z-index: -99;
  background: radial-gradient(#0006,#000f);
}
