@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-bg: #0a242e;
  --color-bg-rgb: 10, 36, 46;
  --color-bg-variant: #023a4f;
  --color-bg-variant-rgb: 2, 58, 79;
  --color-primary: #ffab52;
  --color-primary-rgb: 255, 171, 82;
  --color-primary-variant: #e68f32;
  --color-primary-variant-rgb: 230, 143, 50;
  --color-white: #f3f4f4;
  --color-light: #c4843f;

  --transition: all 300ms ease-in-out;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 2rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-variant);
  background-color: transparent;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: linear-gradient(transparent, var(--color-primary));
  color: var(--color-white);
  border-color: transparent;
}

select {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-variant);
  background-color: transparent;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary);
  transition: var(--transition);
}

select:hover {
  background: linear-gradient(transparent, var(--color-primary));
  color: var(--color-white);
  border-color: transparent;
}

option {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-variant);
  background-color: transparent;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary);
  transition: var(--transition);
}

option:hover {
  background: linear-gradient(transparent, var(--color-primary));
  color: var(--color-white);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

small {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.25rem;
  max-width: max-content;
  max-height: max-content;
  line-height: 2rem;
  background-color: rgba(var(--color-bg-variant-rgb), 0.75);
  box-shadow: 0 0 0.25rem var(--color-primary-variant);
  backdrop-filter: blur(10px);
  color: var(--color-primary);
}

.rating {
  background-color: rgba(var(--color-primary-variant-rgb), 0.5);
  box-shadow: 0 0 0.5rem var(--color-bg);
  color: var(--color-white);
}

.released {
  background-color: rgba(var(--color-primary-rgb), 0.5);
  box-shadow: 0 0 0.5rem var(--color-bg-variant);
  color: var(--color-white);
}

/* Media Queries (medium devices) */

@media (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 1.5rem;
  }
}

/* Media Queries (small devices) */

@media (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section {
    margin-top: 1rem;
  }
}
