.gameCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 22rem;
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  background: rgba(var(--color-bg-rgb), 0.2);
  box-shadow: 0 0 .25rem var(--color-bg);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.gameCard:hover{
  box-shadow: 0 0 .25rem var(--color-primary);
}

.gameCard__imgContainer > img{
  height: 8rem;
  width: 15rem;
}

.gameCard__title-text{
  text-align: center;
}

.gameCard__attributes{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

